<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Editor</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/fa-solid.min.css">
	<link rel="stylesheet" type="text/css" href="css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container-fluid">
		<div class="main-deck">
			<div class="menu-column">
				<div class="level-name">
					<h3>{{activeLevel.name}}</h3>
				</div>
				<div class="level-commands pad-ver">
					<button class="btn btn-primary" @click="saveLevel">Save</button>
					<button class="btn btn-outline-secondary pad-hor" @click="resetLevel">Reset</button>
					<button class="btn btn-danger" @click="deleteLevel"><i class="fas fa-fire"></i></button>
				</div>
				<ul class="level-list">
					<li v-for="level in levels" class="level-item" v-bind:class="[level.name == activeLevel.name ? 'active' : '']" v-bind:data-id="level.name" @click="loadLevel(level.name)">{{level.name}}</li>
				</ul>
				<new-level-form @commit="createLevel"></new-level-form>
				<progress-status v-bind:message="status"></progress-status>
			</div>
			<level-editor ref="editor"></level-editor>
		</div>
	</div>

	<script type="text/x-template" id="new-level-form">
		<div class="level-create pad-ver">
			<input type="text" v-model="name" class="form-control" placeholder="Level name">
			<button class="btn btn-success btn-block pad-ver" @click="commit" v-bind:disabled="name == ''"><i class="fas fa-plus"></i> Create</button>
		</div>
	</script>

	<script type="text/x-template" id="progress-status">
		<div class="progress-status pad-ver" v-bind:class="{ hidden: !message }">
			<i class="fas fa-cog spin"></i> <span>{{message}}</span>
		</div>
	</script>

	<script type="text/x-template" id="level-editor">
		<div class="editor-column">
			<div class="screen-column" ref="screen">
				<editor-viewport ref="viewport" v-on:render="draw"></editor-viewport>
			</div>
			<div class="tools-column">
				<div class="form-group">
					<h6><span>Rooms</span></h6>
					<button class="btn btn-primary btn-block pad-ver"><i class="fas fa-plus"></i> Add room</button>
					<button class="btn btn-danger"><i class="fas fa-fire"></i></button>
				</div>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="editor-viewport">
		<div class="viewport-screen" ref="screen">
			<canvas ref="canvas"></canvas>
			<div class="zoom-tools">
				<button class="btn btn-warning pad-ver pad-hor" @click="addZoom(1)" v-bind:disabled="zoom >= maxZoom"><i class="fas fa-plus"></i></button>
				<button class="btn btn-warning pad-ver pad-hor" @click="addZoom(-1)" v-bind:disabled="zoom <= minZoom"><i class="fas fa-minus"></i></button>
				<button class="btn btn-warning pad-ver pad-hor" @click="resetViewport"><i class="fas fa-crosshairs"></i></button>
			</div>
		</div>
	</script>

	<script src="js/vue.js"></script>
	<script src="js/vue-resource.js"></script>
	<script src="js/viewport.js"></script>
	<script src="js/editor-space.js"></script>
	<script src="js/editor.js"></script>
</body>
</html>