* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	min-height: 100vh;
	overflow: hidden;
}

.hidden {
	display: none;
}

.pad-hor {
	margin-right: 0.5em;
	margin-left: 0.5em;
}

.pad-ver {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.main-deck {
	display: flex;
	min-height: 100vh;
}

.menu-column {
	flex: 0 0 300px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #aaa;
	padding-right: 0.5em;
}

.level-commands {
	display: flex;
}

.level-commands .btn {
	flex: 1;
}

.level-list {
	padding: 0;
	margin: 0.5em 0;
}

.level-item {
	display: block;
	cursor: pointer;
	padding: 0.2em 0.5em;
}

.level-item:hover {
	background: #eee;
}

.level-item.active {
	background: cornflowerblue;
}

.editor-column {
	flex: 1;
	display: flex;
}

.screen-column {
	flex: 1;
	height: 100%;
	font-size: 0;
	position: relative;
}

.tools-column {
	flex: 0 0 200px;
	display: flex;
	flex-direction: column;
}

.form-group {
	border: 1px solid #aaa;
	border-radius: 0.5em;
	margin: 0.5em;
	padding: 0.5em;
}

.form-group h6 {
	margin-top: -1em;
}

.form-group h6 span {
	background-color: white;
}

.zoom-tools {
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
	display: flex;
	flex-direction: column;
}